springdoc:
  swagger-ui:
    operationsSorter: method
    path: /swagger-ui-custom.html
  api-docs:
    path: /api-docs
spring:
  jpa:
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL5Dialect
    hibernate:
      ddl-auto: update
  datasource:
    password: ''
    driver-class-name: com.mysql.cj.jdbc.Driver
    username: root
    url: jdbc:mysql://localhost:3306/demokeycloakvsspring

keycloak:
  auth-server-url: http://localhost:8080/
  realm: demoSpringBoot
  resource: take-user-role
  credentials:
    secret: FemdGmhdP3IC22irDACPgnuU5fbbKrN2
  use-resource-role-mappings: 'true'
  ssl-required: external
  public-client: 'false'
  bearer-only: 'true'
server:
  port: '8081'

